@model Spice.Models.TableModel.TableBooking
@using Spice.Data
@inject ApplicationDbContext db;




<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TableBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tableType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem =>db.TableTypes.Find(modelItem.TypeID).Name)
        </dd class>
    </dl>
    
    <form asp-action="CancelBooking">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancel The Booking " class="btn btn-danger" /> |
        <a asp-action="Home">Back to List</a>
    </form>
</div>
