@model IEnumerable<Spice.Models.TableModel.TableBooking>
@using Spice.Data
@inject ApplicationDbContext db;
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tableType)
            </th>
            <th>
                The Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>db.TableTypes.Find(item.TypeID).Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem =>db.TableTypes.Find(item.TypeID).Price)
                </td>
                    <td style="width: 150px">

                    <a asp-action="CheckedBooking" asp-controller="TableBooking" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-info "><i class="fas fa-plus"></i> Accept</a>
                    <a asp-action="CancelBooking" asp-controller="TableBooking" asp-area="Admin" asp-route-Id="@item.Id" class="btn btn-info "><i class="fas fa-plus"></i> Cancel</a>

                   
                    </td>
        </tr>
}
    </tbody>
</table>
