@model IEnumerable<Spice.Models.OrderHeader>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotalOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponCodeDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCodeDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
          
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
